
@{
    ViewData["Title"] = "ProcessInput";
}

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Translator</title>
  </head>
  <body>
      <h1>@ViewBag.word - @ViewBag.translation</h1>
  </body>
</html>

